/* CSC Cascating Stylesheet */
/* Propriedade e valor */

@media (max-width: 719px) {
  main {
    background: url(images/background.svg) no-repeat center;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
    color: var(--grey);
  }
}

@media (min-width: 720px) {
  body {
    background: url(images/Desktop.svg) no-repeat center;
    background-color: hsl(240, 56%, 4%);
    color: var(--grey);
  }

  main {
    position: absolute;
    width: 358px;
    height: 660px;
    border-radius: 20px;
    z-index: -1;
  }
}

@media (min-width: 960px) {
  body {
    background: url(images/Desktop.svg) no-repeat center/cover;
    background-color: hsl(240, 56%, 4%);
    color: var(--grey);
  }
  main {
    position: absolute;
    width: 358px;
    height: 660px;
    border-radius: 20px;
    z-index: -1;
  }
}

/* estilos versão desktop */

* {
  margin: 0px;
}
html,
body {
  --black: hsl(240, 56%, 4%);
  --grey: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smothing: antialiased;
}
body {
  display: grid;
  place-items: center;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 10rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
